@font-face {
    font-family: MyTitleFont;
    src: url(recipe-page-main/assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: MyFont;
    src: url(recipe-page-main/assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F3E5D8;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsla(15, 4%, 18%, 0.818);
    font-family: MyFont;
    font-size: 16px;
}

/* configuração geral */
hr{
    border-top: 1px solid #ccccccb2;
}

span{
    font-weight: bold;
}

/* container */
.container{
    position: relative;
    background-color: #FFF;
    width: 740px;
    border-radius: 20px;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 40px;
}

/* container imagem */
.img-container{
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 30px;
}

.img-container img{
    width: 100%;
}

/* titles */
.container-h1, h2, h3, h4{
    font-family: MyTitleFont;
    font-weight: 400;
    margin-bottom: 20px;
}

.container-h1{
    font-size: 40px;
}

/* preparation section */
.preparation-section{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #FFF7FC;
    border-radius: 15px;
    color: hsla(15, 4%, 18%, 0.813);
}

.preparation-section h1{
    font-size: 18px;
    margin-bottom: 10px;
    color: #952d57;
}

.preparation-section ul{
    margin-left: 25px;
    line-height: 1.8em;
}

.preparation-section li{
    text-align: left;
    padding-left: 10px;
}

.preparation-section li::marker{
    color: #952d57;
    font-size: 0.8em;
}

/* ingredients */
.container h2{
    color: #a14e38;
    font-size: 26px;
}

.ingredients-list{
    margin-left: 25px;
    line-height: 1.8em;
    margin-bottom: 25px;
}

.ingredients-list li{
    text-align: left;
    padding-left: 10px;
}

.ingredients-list li::marker{
    color: #a14e38;
    font-size: 0.8em;
}

/* instructions */
.container h3{
    color: #a14e38;
    font-size: 26px;
    margin-top: 25px;
}

.container ol{
    margin-left: 20px;
    line-height: 1.8em;
    margin-bottom: 25px;
}

.container ol li{
    text-align: left;
    padding-left: 13px;
    margin-bottom: 8px;
}

ol li::marker{
    font-weight: bold;
    color: #a14e38;
    font-size: 0.9em;
}

/* nutrition */
.container h4{
    color: #a14e38;
    font-size: 26px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.p-margin{
    margin-bottom: 15px;
}

.row-container{
    padding: 15px 30px;
    display: flex;
}

.p-txt, .p-num{
    display: inline-block;
    width: 50%;
}

.p-num{
    font-weight: bold;
    color: #a14e38;
}

@media only screen and (max-width: 768px){
    .container{
        position: relative;
        background-color: #FFF;
        width: 100%;
        border-radius: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding: 40px;
    }

    .img-container{
        margin: -40px;
        border-radius: 0;
        margin-bottom: 30px;
    }
}